html, body {

    font-size: 16pt;
    font-family: arial;


    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
    
}

body {
    background-color: #eee;
}

header {
    width: 100%;
    height: 100px;
}

h1 {
background-color:red;
    margin: 0;
    padding: 0;
    line-height: 100px;
}

nav, ul {

    width: 100%;
    height: 50px;

    margin: 0;
    padding: 0;

    background-color: orange;
}

ul {
    height: 100%;
    background-color: blue;
    list-style-type: upper-roman;

}
li {
    display: block;
    float: left;
    
    height: 100%;
    width: 20%;

    text-align: center;

    line-height: 50px;
}

a {
    display: block;
    color:orange;
    text-decoration: none;
}

a:hover {
    color:orange;
    background-color: darkgoldenrod;
}
.about us {
    background-color: yellow;
    width: 15;
}
aside {
    width: 15%;
    height: calc(130% - 150px);
    float:left;


}

.center {
    width: 70%;
    height: calc(100% - 150px);
    float:center;

    background-color: orange;
    overflow: auto;
}
move {
float: center;
}
.C0llection{
    margin: 0 auto;
    margin-top: 50px;
    
    width: 50%;
    height:90px;
    background-color: darkgray;

    overflow: auto;
}
.search{
    float: right;
    margin-top: -30px;
}
 .fixed-bg {
    background-image: url("img_tree.gif");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





